// https://docs.microsoft.com/windows/win32/menurc/about-resource-files
#define APSTUDIO_READONLY_SYMBOLS
#include <winresrc.h>
#undef APSTUDIO_READONLY_SYMBOLS

#include "configuration.hxx"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(65001)

// https://docs.microsoft.com/windows/win32/menurc/icon-resource
application_icon ICON "application_icon.ico"

// https://docs.microsoft.com/windows/win32/menurc/versioninfo-resource
VS_VERSION_INFO VERSIONINFO
 FILEVERSION    PROJECT_VERSION_MAJOR, PROJECT_VERSION_MINOR, PROJECT_VERSION_PATCH, PROJECT_VERSION_TWEAK
 PRODUCTVERSION PRODUCT_VERSION_MAJOR, PRODUCT_VERSION_MINOR, PRODUCT_VERSION_PATCH, PRODUCT_VERSION_TWEAK
 FILEFLAGSMASK  0x0000003FL
#ifdef _DEBUG
 FILEFLAGS      VS_FF_DEBUG
#else
 FILEFLAGS      0x00000001L
#endif
 FILEOS         VOS_NT_WINDOWS32
#if 1
 FILETYPE       VFT_APP
#else
 FILETYPE       VFT_APP
 FILETYPE       VFT_DLL
 FILETYPE       VFT_STATIC_LIB
#endif
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0000FDE9"
        BEGIN
            VALUE "CompanyName",      PRODUCT_AUTHORS "\0"
            VALUE "FileDescription",  PROJECT_DESCRIPTION "\0"
            VALUE "FileVersion",      PROJECT_VERSION "\0"
            VALUE "InternalName",     PROJECT_NAME "\0"
            VALUE "LegalCopyright",   PROJECT_LICENSE "\0"
            VALUE "OriginalFilename", "\0"
            VALUE "ProductName",      PRODUCT_NAME "\0"
            VALUE "ProductVersion",   PRODUCT_VERSION "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000, 0xFDE9
    END
END

#endif
